.App {
  text-align: center;
}

.main-container{
  padding: 8vh 5vw;
  align-self: center;
  align-items: flex-start;
}

.left-child{
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.right-child{
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.mode-selection{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content:space-evenly
}

@media screen and (min-width: 1023px) {
  .main-container{
    display: flex;
    justify-content:center;
  }

  .left-child{
    max-width: 500px;
    position: sticky;
    top: 8vh;
  }

  .right-child{
    max-width: 800px;
    padding: 0px;
  }

} 