.App {
  text-align: center;
}

.main-container{
  padding: 15vh 5vw;
}

.article {
  padding-top: 25vh;
}


/* .mode-selection{
  display: flex;
  justify-content:space-evenly
} */

@media screen and (min-width: 1300px) {

  /* .App{
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */
  
  .main-container{
    display: flex;
    flex-direction: column;
    padding: 25vh 15vw;
  }

  .counter-application{
    display: flex;
    justify-content: center;
  }
  
  /* .article{
    padding-top: 0px;
    max-width: 700px;
  } */



} 